.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  animation-direction: alternate;
  height: 80px;
  filter: hue-rotate(89deg);
}

.but-red{
  filter: hue-rotate(189deg);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg) rotateX(0deg); }
  to { transform: rotateY(1220deg) rotateX(720deg); }
}
